footer{
   position: fixed;
   bottom: 0;
   left: 0;
   width: 100vw;
   text-align: center;
   align-items: center;
}

.nav-justify{
  display: flex;
  justify-content:space-around; /* Equal space between elements */
  align-items: center; /* Optional: vertically center */
   height: 72vh;
}

body {
  padding-top: 56px;
}

@media (min-width: 768px) {
  body {
    padding-top: 70px;
  }
}
.side-apart-ri{
  display: flex;
  justify-content: space-between;
}

img{
    max-height: 400px;
}